@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.premium.dark');
    color: theme('colors.premium.textMain');
    @apply antialiased font-sans;
  }
  
  ::selection {
    background-color: theme('colors.premium.accent');
    color: white;
  }
}

@layer utilities {
  .glassmorphism {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }
  .glassmorphism-dark {
    @apply bg-black/20 backdrop-blur-lg border border-white/5 shadow-2xl;
  }
}
